
@media (max-width: 1024px) {
    .tokenomics-container{
        width: 100%;
        padding: 60px 0px;
    }

    .tokenomics-content{
        max-width: 100%;
        row-gap: 48px;
    }
    .tokenomics-details-container{
        width: 100%;
        min-width: 100%;
        padding: 16px;
        margin-top: 200px;
        border: solid 3px rgb(255, 199, 0);
    }

    .tokenomics-cards{
        display: flex;
        flex-direction: row;
        width: 100%;
        flex-wrap: wrap;
column-gap: normal;
justify-content: space-between



    }

    .tokenomics-card-item{
        display: flex;
        flex-direction: column;
        width: 30%;
    }

    .tokenomics-decorate1{
        position: unset;
        max-width: 100%;
        transform: translateY(450px);
    }
}