
.howtobuy-container{
    position: relative;
    width: 100%;
    padding: 60px 0px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    background: url('/img/btcbull/roadmap-bg.webp') no-repeat center center;
    background-size: 115% 115%; /* Slightly larger than the container */
    
    min-height: 900px;
}

/* Overlay effect */
.howtobuy-container-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    
    background: linear-gradient(to bottom, rgb(5, 13, 19) 10%, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 0.8) 90%);
    pointer-events: none; /* Ensure it doesn't interfere with content */
}

.howtobuy-content{
    width: 100%;
    padding-inline: 16px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    position: relative;
    min-height: 600px;
}
.howtobuy-heading{
    font-size: 4rem;
    font-weight: 800;
    color: rgb(255, 199, 0);
    text-transform: uppercase;
    text-align: center;
}

.howtobuy-cards{
    display: grid;
    grid-template-columns:  1fr 1fr;
    gap: 32px;
}

.howtobuy-card{

    background: url('/img/btcbull/step-1.svg') no-repeat center center;
    background-size: 100% 100%; /* Slightly larger than the container */
    max-width: 355px;
    padding: 32px 24px;
    display: flex;
    flex-direction: column;
    row-gap: 16px;
    position: relative;
}

.howtobuy-card-title{
    color:rgb(255, 199, 0);
    font-weight: 500;
    font-size: 1.3em;
}

.howtobuy-card-content{
    color: white;
    font-weight: 500;
}

.howtobuy-card-img{
    max-width: 120px;
    position: absolute;
    top: 8vh;
    right: 2vw;
}

.howtobuy-card1{
    position: absolute;
    top: 10%;
    left: 4%;
    transform: rotate(-4deg);
}
.howtobuy-card2{
    position: absolute;
    top: 60%;
    left: 25%;
    transform: rotate(7deg);
}
.howtobuy-card3{
    position: absolute;
    top: 20%;
    left: 50%;
    transform: rotate(-9deg);
}
.howtobuy-card4{
    position: absolute;
    top: 70%;
    left: 70%;
    transform: rotate(8deg);
}
