@media (max-width: 1024px) {
    .howtobuy-content{
        row-gap: 24px;
    }

    .howtobuy-card{

        padding-right: 42px;
    }
    .howtobuy-card-img{
        max-width: 120px;
        position: absolute;
        top: 14%;
        right: 10%;
    }
    

    .howtobuy-card1,
    .howtobuy-card2,
    .howtobuy-card3,
    .howtobuy-card4{
        position: relative;
        top: auto;
        left: auto;
        transform: rotate(0deg);
    }
    
}