/* AutoScrollCarousel.module.css */

.carouselWrapper {
  width: 100%;
  overflow: hidden;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  background-color: transparent;
  padding-block: 2rem;
}

.trackWrapper {
  width: 100%;
  overflow: hidden;
}

.track {
  display: flex;
  width: max-content;
  animation: scrollLeft 20s linear infinite;
}

.slide {
  flex: 0 0 auto;
  width: auto;
  height: auto;
  margin: 0 4rem;
  display: flex;
  align-items: center;
  justify-content: center;
  background: transparent;
  border-radius: 8px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.05);
}

@keyframes scrollLeft {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}
