/* Currencies selection */
.curr-dropdown-container {
  position: relative;
  width: 100%;
}

.curr-custom-dropdown{
  /* border: solid 2px #fff;
  box-sizing: border-box;
  background: transparent; */

  border: solid 4px black;
    align-items: center;
    background-clip: border-box;
    background-color: rgb(80, 184, 97);
    background-image: none;
    background-origin: padding-box;
    box-sizing: border-box;
    color: rgb(255, 255, 255);
    cursor: pointer;
    display: flex;
    font-family: Sausages, sans-serif;
    font-feature-settings: normal;
    font-kerning: auto;
    font-optical-sizing: auto;
    font-size: 16px;
    font-size-adjust: none;
    font-stretch: 100%;
    font-style: normal;
    font-variant-alternates: normal;
    font-variant-caps: normal;
    font-variant-east-asian: normal;
    font-variant-ligatures: normal;
    font-variant-numeric: normal;
    font-variant-position: normal;
    font-variation-settings: normal;
    font-weight: 400;
    height: 60px;
    justify-content: center;
    letter-spacing: 0.5px;
    line-height: 21.4286px;
    margin-bottom: 0px;
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 0px;
    min-height: 45px;
    min-width: 100px;
    overflow-x: visible;
    overflow-y: visible;
    padding-block-end: 10px;
    padding-block-start: 10px;
    padding-bottom: 10px;
    padding-inline-end: 10px;
    padding-inline-start: 10px;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 10px;
    text-align: center;
    text-indent: 0px;
    text-rendering: auto;
    text-shadow: none;
    text-size-adjust: 100%;
    text-transform: none;
    width: 213.922px;
    word-spacing: 0px;
    -webkit-font-smoothing: antialiased;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    -webkit-border-image: none;
}

.curr-dropdown-content {
  color:rgb(186, 139, 249);
  text-decoration-color: rgb(186, 139, 249);
  display: none;
  position: absolute;
  top: calc(100% + 10px); /* Adjusted position with 10px padding */
  left: 50;
  background-color: #000;
  border: 1px solid #000;
  box-shadow: 0 4px 8px rgba(6, 6, 80, 0.1);
  padding: 10px 10px; /* Added padding */
  z-index: 10000000000;
  width: max-content; 
}

.curr-dropdown-content.open {
  display: block;
}

.curr-dropdown-item {
  display: flex;
  align-items: center;
  padding: 5px;
  cursor: pointer;
  margin-top: 5;
  margin-bottom: 5;
}

.curr-dropdown-item:hover {
    color: #f2f2f2;
}

.curr-dropdown-item span {
  margin-left: 5px;
  font-size: large;
}

.curr-dropdown-icon{
  color: #fff
}