/* Currencies selection */
.curr-dropdown-container {
  position: relative;
  width: 100%;
}

.curr-custom-dropdown{
  /* border: solid 2px #fff;
  box-sizing: border-box;
  background: transparent; */

    width: 100%;
    color:  black;
    box-sizing: border-box;
    border: solid 2px rgb(97, 111, 135);
    font-size : 18px;
    padding: 10px 30px;
    background-color:white;
    text-transform: uppercase;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60px;
    border-radius: 30px;
}

.curr-dropdown-content {
  color:rgb(186, 139, 249);
  text-decoration-color: rgb(186, 139, 249);
  display: none;
  position: absolute;
  top: calc(100% + 10px); /* Adjusted position with 10px padding */
  left: 50;
  background-color: #000;
  border: 1px solid #000;
  box-shadow: 0 4px 8px rgba(6, 6, 80, 0.1);
  padding: 10px 10px; /* Added padding */
  z-index: 10000000000;
  width: max-content; 
}

.curr-dropdown-content.open {
  display: block;
}

.curr-dropdown-item {
  display: flex;
  align-items: center;
  padding: 5px;
  cursor: pointer;
  margin-top: 5;
  margin-bottom: 5;
}

.curr-dropdown-item:hover {
    color: #f2f2f2;
}

.curr-dropdown-item span {
  margin-left: 5px;
  font-size: large;
}

.curr-dropdown-icon{
  color: #fff
}