/* 

.vertical-carousel-container {
    position: relative;
    margin-top: 140px;
}

.vertical-carousel {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    background-color: #ffffff;
    border-radius: 24px;
    height: 300px;
}

.path01 {
    position: absolute;
    left: 0;
    top: -100px;
    z-index: 4;
}

.path02 {
    position: absolute;
    left: 35px;
    top: -150px;
}

.path03 {
    position: absolute;
    right: -35px;
    top: -35px;
}

.vertical-carousel-container .vertical-carousel .image {
    flex: 0 0 40%;
    max-width: 40%;
    padding-left: 15px;
    margin-bottom: -150px;
}

.vertical-carousel-container .vertical-carousel .image img {
    display: block;
    width: 100%;
} */

/* .carousel-area {
    position: relative;
    flex: 0 0 58%;
    max-width: 58%;
    padding: 40px;
} */
.about{
    padding: 20px 10px;
    margin: 100px 0px;
}

.inside{
    background: url(../../../public/img/flockers/about-img.svg) no-repeat bottom right / contain;
    padding: 0;
    position: relative;
}
.inside::after{
    content: "";
    position: absolute;
    top: 0; /* Position it just below the div content */
    left: 0;
    /* width: 100%; */
    height: 700px; /* Adjust height as needed */

    background-attachment: scroll;
    background-clip: border-box;
    background-color: rgb(193, 218, 234);
    background-image: none;
    background-origin: padding-box;
    background-position-x: 0%;
    background-position-y: 0%;
    background-repeat: repeat;
    background-size: auto;
    bottom: 6px;
    box-sizing: border-box;
    clip-path: polygon(0px 0px, 95% 0%, 45% 100%, 0% 100%);
    color: rgb(0, 0, 0);
    content: "";
    display: block;
    font-family: HeyComic, sans-serif;
    font-size: 16px;
    font-weight: 400;
    height: 483.391px;
    left: 6px;
    line-height: 22.4px;
    position: absolute;
    right: 6px;
    text-align: start;
    text-size-adjust: 100%;
    top: 6px;
    z-index: 1;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}


/* .inside{
    position: relative;
    background: #c1daea;
    clip-path: polygon(0% 0%,97% 0%,-19% 190%,0% 100%);
    z-index: -1;
} */

.inside div{
    z-index: 10;
}
.inside img{
    z-index: 10;
}


.about-content{
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    /* background: #c1daea; */
    /* border: solid 5px black; */
    box-sizing: border-box;
    /* flex-direction: column; */
    display: block;
    justify-content: center;
    position: relative;
    padding-top: 80px;
    padding-bottom: 80px;
    /* display: flex; */

}

.about-content p{
    font-size: 24px;
    color: black;
    margin-bottom: 18px;
}


 .about-content-welcome {
    /* width: 100%; */
    position: absolute;
    box-sizing: border-box;
    max-height: 220px;
    left: 20px;
    top: -180px;
}

.about-content-wtf {
    position: absolute;
    bottom: -100px;
    right: -50px;
    box-sizing: border-box;
    max-height: 230px;
}

.img-banner{
    display: flex;
    justify-content: center;
    position: relative;

}
.img-banner .banner-img1 {
    box-sizing: border-box;
    max-height: 500px;
}

.img-banner .banner-img2 {
    position: absolute;
    top: -100px;
    right: 50px;
    box-sizing: border-box;
    max-height: 300px;
}

.btn-container{
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn-container .buy-btn {
    min-height: 46px;
    width: 250px;
    /* border-radius: 23px; */
    background: rgb(245, 136, 45);
    color: black;
    border: solid 3px black;
    padding: 0.5rem 1rem;
    cursor: pointer;
  }


/* Responsive Styles */
@media (max-width: 768px) {
    .about-content-wtf{
        right: 20px;

        width: 180px !important;
        height: 200px;
    }

    .img-banner .banner-img1 {
        box-sizing: border-box;
        max-height: 200px;
    }
}