.walletBox-container{
    display: flex;
    flex-direction: column;
    border-radius: 24px;
    padding: 16px;
    position: relative;
    background: url(/img/btchyper/widget-bg-top.png) no-repeat 0 -10px / 100%, url(/img/btchyper/widget-bg-bottom.png) no-repeat 100% 100% / 100%, linear-gradient(#21283d, #21283d);
    max-width: 450px;
    z-index: 1;
    margin-left: auto;
    border-radius: 25px;
    padding: 12px 20px 18px;
    box-sizing: border-box;
    color: rgb(0, 0, 0);
}
.walletBox-bottom{
    background: url(/img/solx/widget-bottom.png) no-repeat 0 0;
    background-size: 100% 100%;
    height: 50px;
    position: relative;
    margin: 10px 10px 10px 10px;
    margin-top: -5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 32px;
}

.walletBox-bottom .white-paper{
    text-transform: uppercase;
    font-size: x-large;
    color: rgb(37, 224, 122);
    text-align: left;
    font-weight: 800;
    text-decoration-color: rgb(37, 224, 122);
    text-decoration-line: underline;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

.walletBox {
    width: 100%;
    max-width: 450px;
    position: relative;
    background: url(/img/btchyper/union.png) no-repeat, radial-gradient(68.7% 68.7% at 50% 50%, #0000, #d9d9d903);
    padding: 10px 18px;
    -webkit-backdrop-filter: blur(3.3340492249px);
    backdrop-filter: blur(3.3340492249px);
    box-shadow: .72px .72px #ffffff1c inset, 0 14.5px 16.53px #0000004a, -.72px -.72px #ffffff26 inset;
    background-size: 100% 100%;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    /* margin-bottom: 20px; */
}

.walletBox-info {
  width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.walletBox-heading {
    margin-bottom: 8px;
    text-transform: uppercase;
    box-sizing: border-box;
    color: white;
    display: block;
    font-family: badaboom-bb, sans-serif;
    font-size :1.3em;
    font-weight :900;
    text-align: center;
    text-size-adjust: 100%;
    transform :none;
    unicode-bidi :isolate;

}

.walletBox-heading strong {
    color: #FFA230
}

.counter-wrapper{
    text-align: center;
    border: none;
    border-radius: 12px;
    background-color: transparent;
    font-size: large;
    font-weight: 800;
    width: 100%;
  }
  
  .counter-container {
    width: 100%;
      align-items: center;
      padding: 5px 0 8px;
      /* border-radius: 4px; */
      background: #5f616b;
      border: none;
      box-sizing: border-box;
      color: rgb(27, 52, 74);
      column-gap: 8px;
      display: flex;
      font-family: Poppins, sans-serif;
      font-size: 16px;
      font-weight: 400;
      height: 80px;
      justify-content: space-around;
      letter-spacing: 1px;
      line-height: 27.2px;
      padding-bottom: 10px;
      padding-left: 12px;
      padding-right: 12px;
      padding-top: 10px;
      text-align: center;
      text-size-adjust: 100%;
      unicode-bidi: isolate;
      border-radius: 20px;
      border: 1.613px solid #FFF;

}

  
.time-card {
    min-width: 60px;
    width: 20%;
    padding: 8px 5px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    position: relative;
    font-family: Sausages, sans-serif;
    padding: 10px 7px;
    border: none;
    border-radius: 8px;
    color: white;


}

.time-card .indicator{
  font-size: 1em;
  font-weight: 400;

}

.time-card .value {
    font-weight: 400;
    font-size: 1.3em;
    color: #FFA230;
}


.total-raised{
    box-sizing: border-box;
    color: white;
    display: block;
    font-family: HeyComic, sans-serif;
    font-size: 14px;
    font-weight: 900;
    line-height: 22.4px;
    margin-inline: 0px;
    margin-block: 8px;
    text-align: center;
    text-size-adjust: 100%;
    unicode-bidi: isolate;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    text-transform: uppercase;
     /* Text Stroke */
     /* text-shadow: 1px 1px 0px white;
     -webkit-text-stroke-width: 1px;
     -webkit-text-stroke-color: white; */
}

.user-purchased-info{
    align-items: center;
    box-sizing: border-box;
    color: rgb(247, 148, 29);
    display: flex;
    font-family: Roboto, sans-serif;
    font-size: 14px;
    font-weight: 500;
    justify-content: center;
    letter-spacing: 1px;
    line-height: 21.09px;
    margin-top: 4px;
    margin-bottom: 4px;
    text-align: center;
    text-size-adjust: 100%;
    unicode-bidi: isolate;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
.dashTitle{
    margin-block: 10px;
    position: relative;
    text-align: center;
    text-size-adjust: 100%;
    font-size: 14px;
    font-weight: 800;
    margin-bottom: 8px;
    width: 100%;
    color: white;
}

.dashTitle:before, .dashTitle:after {
    content: "";
    width: 24%;
    height: 2px;
    background: rgb(247, 148, 29);
    position: absolute;
    left: 0;
    top: 50%;
  }
  
.dashTitle:after {
    right: 0;
    left: auto;
}

.swapArea{
    width: 100%;
}

.currencies-list{
    width: 100%;
    column-gap: 16px;
display: flex;
align-items: center;
justify-content: space-evenly;
}
  

.currencies-list .btn {
    width: 100%;
    height: 50px;
    padding: 6px;
    border-radius: 4px;
    font-size: 14px;
    font-weight: 400;
    border: 2px solid rgb(255, 255, 46)!important;
    background: transparent;
    color: rgb(255, 255, 46);
    font-family: Roboto,sans-serif;
    display: flex;
    align-items: center;
    justify-content :center;
    column-gap: 8px;
    background: transparent;
    font-size: large;
}

.currencies-list .btn:hover {
    color: white;
}

.currencies-list .btn.selected{
    background-color: rgb(247, 148, 29);
    color:white;
    border-radius: 4px;
    font-weight: 900;
    box-shadow: 0 0 0 2px #a8a8a8;
}


.swapSection{
    width: 100%;
    margin-top: 8px;
    display: flex;
    /* column-gap: 16px; */

    justify-content: space-between;
    flex-direction: row;

}

.swapSection .input-container{
    flex: 0 0 48%;
    display: flex;
    flex-direction: column;
}

.input-lable{
    margin-bottom: 8px;
    color: white;
}

.input-amount{
    position: relative;
}

.input-control-custom {
    min-height: 50px;
    padding: 8px 16px;
    font-size: 14px;
    font-weight: 500;
    background-color: #fff;
    /* border: 1px solid #878787; */
    color: #6a6a6a;
    box-sizing: border-box;
    width: 100%;
    border: 1px solid white;
    border-radius: 4px;
    color: rgb(75, 26, 9);
    outline:none;
}

.input-control-custom::placeholder {
    color: rgb(75, 26, 9);
}

.amountType {
    position: absolute;
    top: 25px;
    right: 12px;
    transform: translateY(-50%);
    display: flex;
    align-items: center;
  }

.action-buttons{
    margin-top: 24px;
    width: 100%;
    display: flex;
    flex-direction: column;
    row-gap: 12px;
}
.action-buttons .connect-btn{
  border: none;
  align-items: center;
  background: rgb(247, 148, 29);
  box-sizing: border-box;
  color: rgb(255, 255, 255);
  cursor: pointer;
  display: flex;
  font-family: Sausages, sans-serif;
  font-feature-settings: normal;
  font-kerning: auto;
  font-optical-sizing: auto;
  font-size: 20px;
  font-size-adjust: none;
  font-stretch: 100%;
  font-style: normal;
  font-variant-alternates: normal;
  font-variant-caps: normal;
  font-variant-east-asian: normal;
  font-variant-ligatures: normal;
  font-variant-numeric: normal;
  font-variant-position: normal;
  font-variation-settings: normal;
  font-weight: 400;
  height: 60px;
  justify-content: center;
  letter-spacing: 0.5px;
  line-height: 21.4286px;
  margin-bottom: 0px;
  margin-left: 0px;
  margin-right: 0px;
  margin-top: 0px;
  min-height: 45px;
  min-width: 100px;
  overflow-x: visible;
  overflow-y: visible;
  padding-block-end: 10px;
  padding-block-start: 10px;
  padding-bottom: 10px;
  padding-inline-end: 10px;
  padding-inline-start: 10px;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 10px;
  text-align: center;
  text-indent: 0px;
  text-rendering: auto;
  text-shadow: none;
  text-size-adjust: 100%;
  text-transform: none;
  width: 100%;
  word-spacing: 0px;
  border-radius: 12px;
  border: none;
}


.action-buttons .buy-btn{
    border: none;
    align-items: center;
    background: rgb(255, 162, 49);
    box-sizing: border-box;
    color: white;
    cursor: pointer;
    display: flex;
    font-family: Sausages, sans-serif;
    font-feature-settings: normal;
    font-kerning: auto;
    font-optical-sizing: auto;
    font-size: 20px;
    font-size-adjust: none;
    font-stretch: 100%;
    font-style: normal;
    font-variant-alternates: normal;
    font-variant-caps: normal;
    font-variant-east-asian: normal;
    font-variant-ligatures: normal;
    font-variant-numeric: normal;
    font-variant-position: normal;
    font-variation-settings: normal;
    font-weight: 400;
    height: 60px;
    justify-content: center;
    letter-spacing: 0.5px;
    line-height: 21.4286px;
    margin-bottom: 0px;
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 0px;
    min-height: 45px;
    min-width: 100px;
    overflow-x: visible;
    overflow-y: visible;
    padding-block-end: 10px;
    padding-block-start: 10px;
    padding-bottom: 10px;
    padding-inline-end: 10px;
    padding-inline-start: 10px;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 10px;
    text-align: center;
    text-indent: 0px;
    text-rendering: auto;
    text-shadow: none;
    text-size-adjust: 100%;
    text-transform: none;
    width: 100%;
    word-spacing: 0px;
    border-radius: 12px;
    border: none;
  }

.action-buttons .connect-btn:hover,
.action-buttons .buy-btn:hover{
    background: linear-gradient(rgb(247, 148, 29), #000);
}
  

.external-info{
    margin: 8px;
    padding-top: 8px;
    color:white;
    text-align: center;
    display: flex;
    flex-direction: column;
}


