.walletBoxContainer{
    display: flex;
    flex-direction: column;
    position: relative;
    max-width: 500px;
    z-index: 1;
    background: rgb(255, 255, 255);
    box-sizing: border-box;
    color: rgb(80, 82, 88);
    border-radius: 8px;

    @media (max-width: 1024px) {
        width: 100%;
        padding-inline: 1rem;
    }
}
.walletBox-bottom{
    background: url(/img/solx/widget-bottom.png) no-repeat 0 0;
    background-size: 100% 100%;
    height: 50px;
    position: relative;
    margin: 10px 10px 10px 10px;
    margin-top: -5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 32px;
}

.walletBox-bottom .white-paper{
    text-transform: uppercase;
    font-size: x-large;
    color: rgb(37, 224, 122);
    text-align: left;
    font-weight: 800;
    text-decoration-color: rgb(37, 224, 122);
    text-decoration-line: underline;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

.walletBox {
    width: 100%;
    position: relative;
    padding: 2rem 18px;
   
    /* margin-bottom: 20px; */
}

.walletBoxInfo {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.walletBoxHeader{
    display: grid;
}


.walletBoxHeading {
    margin-bottom: 8px;
    text-transform: uppercase;
    box-sizing: border-box;
    display: block;
    font-size: x-large;
    font-family: badaboom-bb, sans-serif;
    font-weight :900;
    text-align: center;
    text-size-adjust: 100%;
    transform :none;
    unicode-bidi :isolate;

}

.walletBoxHeading1 {
    margin-bottom: 8px;
    text-transform: uppercase;
    box-sizing: border-box;
    display: block;
    font-weight :400;
    text-align: center;
    text-size-adjust: 100%;
    transform :none;
    unicode-bidi :isolate;

}

.walletBox-heading strong {
    color: #FFA230
}

.counterWrapper{
    text-align: center;
    border: none;
    border-radius: 12px;
    background-color: transparent;
    font-size: large;
    font-weight: 800;
    width: 100%;
  }
  
  .counterContainer {
    width: 100%;
      align-items: center;
      /* border-radius: 4px; */
      border: none;
      box-sizing: border-box;
      column-gap: 8px;
      display: flex;
      font-family: Poppins, sans-serif;
      font-size: 16px;
      font-weight: 400;
      height: 80px;
      justify-content: space-around;
      letter-spacing: 1px;
      line-height: 27.2px;
      text-align: center;
      text-size-adjust: 100%;
      unicode-bidi: isolate;

}

  
.timeCard {
    min-width: 60px;
    width: 20%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    position: relative;
    border: none;
    border-radius: 8px;
    border:solid 1px rgb(230, 239, 251);
    border-radius: 2px;
}

.timeCard .indicator{
  font-size: 1em;
  font-weight: 200;

}

.timeCard .value {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    font-weight: 400;
    font-size: 1.3em;
    min-height: 36px;
    color:rgb(80, 82, 88);
}


.totalRaised{
    box-sizing: border-box;
    color: rgb(131, 137, 143);
    display: block;
    font-family: HeyComic, sans-serif;
    font-size: 14px;
    font-weight: 900;
    line-height: 22.4px;
    margin-inline: 0px;
    margin-block: 8px;
    text-align: center;
    text-size-adjust: 100%;
    unicode-bidi: isolate;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    text-transform: uppercase;
     /* Text Stroke */
     /* text-shadow: 1px 1px 0px white;
     -webkit-text-stroke-width: 1px;
     -webkit-text-stroke-color: white; */
}

.user-purchased-info{
    align-items: center;
    box-sizing: border-box;
    color: rgb(247, 148, 29);
    display: flex;
    font-family: Roboto, sans-serif;
    font-size: 14px;
    font-weight: 500;
    justify-content: center;
    letter-spacing: 1px;
    line-height: 21.09px;
    margin-top: 4px;
    margin-bottom: 4px;
    text-align: center;
    text-size-adjust: 100%;
    unicode-bidi: isolate;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
.dashTitle{
    margin-block: 10px;
    position: relative;
    text-align: center;
    text-size-adjust: 100%;
    font-size: 14px;
    font-weight: 800;
    margin-bottom: 8px;
    width: 100%;
}

.dashTitle:before, .dashTitle:after {
    content: "";
    width: 24%;
    height: 2px;
    background: rgb(247, 148, 29);
    position: absolute;
    left: 0;
    top: 50%;
  }
  
.dashTitle:after {
    right: 0;
    left: auto;
}

.swapArea{
    width: 100%;
}

.currenciesList{
    width: 100%;
    column-gap: 16px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
  

.currenciesList .btn{
    width: 100%;
    height: 50px;
    padding: 6px;
    border-radius: 4px;
    border: none;
    font-size: 14px;
    font-weight: 400;
    font-family: Roboto,sans-serif;
    display: flex;
    align-items: center;
    justify-content :center;
    column-gap: 8px;
    font-size: large;
    background: rgb(230, 239, 251);
}

.currenciesList .btn:hover {
    color: rgb(0, 123, 255);
}

.currenciesList .btn.selected{
    
    border-radius: 4px;
    box-sizing: border-box;
    border: solid 2px rgb(255, 129, 45);
    font-weight: 900;
}


.swapSection{
    width: 100%;
    margin-top: 8px;
    display: flex;
    /* column-gap: 16px; */

    justify-content: space-between;
    flex-direction: row;

}

.swapSection .inputContainer{
    flex: 0 0 48%;
    display: flex;
    flex-direction: column;
}

.inputLable{
    margin-bottom: 8px;
}

.inputAmount{
    position: relative;
}

.inputControlCustom {
    min-height: 50px;
    padding: 8px 16px;
    font-size: 14px;
    font-weight: 500;
    border: 1px solid rgb(210, 221, 233);
    color: #6a6a6a;
    box-sizing: border-box;
    width: 100%;
        color: rgb(75, 26, 9);
    outline:none;
}

.inputControlCustom::placeholder {
    color: rgb(75, 26, 9);
}

.amountType {
    position: absolute;
    top: 25px;
    right: 12px;
    transform: translateY(-50%);
    display: flex;
    align-items: center;
  }

.actionButtons{
    margin-top: 24px;
    width: 100%;
    display: flex;
    flex-direction: column;
    row-gap: 12px;
}
.actionButtons .connectBtn{
  color: white;
  border: none;
  align-items: center;
  box-sizing: border-box;
  cursor: pointer;
  display: flex;
  font-family: Sausages, sans-serif;
  font-feature-settings: normal;
  font-kerning: auto;
  font-optical-sizing: auto;
  font-size: 20px;
  font-size-adjust: none;
  font-stretch: 100%;
  font-style: normal;
  font-variant-alternates: normal;
  font-variant-caps: normal;
  font-variant-east-asian: normal;
  font-variant-ligatures: normal;
  font-variant-numeric: normal;
  font-variant-position: normal;
  font-variation-settings: normal;
  font-weight: 400;
  height: 60px;
  justify-content: center;
  letter-spacing: 0.5px;
  line-height: 21.4286px;
  margin-bottom: 0px;
  margin-left: 0px;
  margin-right: 0px;
  margin-top: 0px;
  min-height: 45px;
  min-width: 100px;
  overflow-x: visible;
  overflow-y: visible;
  padding-block-end: 10px;
  padding-block-start: 10px;
  padding-bottom: 10px;
  padding-inline-end: 10px;
  padding-inline-start: 10px;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 10px;
  text-align: center;
  text-indent: 0px;
  text-rendering: auto;
  text-shadow: none;
  text-size-adjust: 100%;
  text-transform: none;
  width: 100%;
  word-spacing: 0px;
  border: none;
  border-radius: 4px;
  background: rgb(255, 129, 45);
}


.actionButtons .buyBtn{
    border: none;
    align-items: center;
    box-sizing: border-box;
    color: white;
    cursor: pointer;
    display: flex;
    font-size: 20px;
    font-size-adjust: none;
    font-stretch: 100%;
    font-style: normal;
    font-variant-alternates: normal;
    font-variant-caps: normal;
    font-variant-east-asian: normal;
    font-variant-ligatures: normal;
    font-variant-numeric: normal;
    font-variant-position: normal;
    font-variation-settings: normal;
    font-weight: 400;
    height: 60px;
    justify-content: center;
    letter-spacing: 0.5px;
    line-height: 21.4286px;
    margin-bottom: 0px;
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 0px;
    min-height: 45px;
    min-width: 100px;
    overflow-x: visible;
    overflow-y: visible;
    padding-block-end: 10px;
    padding-block-start: 10px;
    padding-bottom: 10px;
    padding-inline-end: 10px;
    padding-inline-start: 10px;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 10px;
    text-align: center;
    text-indent: 0px;
    text-rendering: auto;
    text-shadow: none;
    text-size-adjust: 100%;
    text-transform: none;
    width: 100%;
    word-spacing: 0px;
    border-radius: 4px;
    background: rgb(255, 129, 45);

  }

.actionButtons .connectBtn:hover,
.actionButtons .buyBtn:hover{
    background: linear-gradient(    rgb(0, 123, 255));
    color: white;
}
  

.externalInfo{
    margin: 8px;
    padding-top: 8px;
    color: rgb(80, 82, 88);
    text-align: center;
    display: flex;
    flex-direction: column;
}


