.container{
  display: flex;
  flex-direction: row;
  row-gap: 1rem;
  background: rgb(17, 18, 11);

  background: transparent url(/img/pepenode/desktop-bg-container.png) no-repeat 50% 100%;
  background-size: 100% 100%;
  min-height: 100vh;
  justify-content: center;
  @media (max-width: 1024px) {
      width: 100%;
      background: transparent;
  }
}


.mainContent{
  padding-top: 128px;
  min-width: 1280px;
  width: 1280px;
  display: flex;

   @media (max-width: 1024px) {
      flex-direction: column-reverse;
      min-width: 0px;
      max-width: 100%;
      width: 100%;
      padding-inline: 1rem;
  }
}

.leftPart{
  width: 65%;
  display: flex;
    @media (max-width: 1024px) {
      width: 100%;
    }
}

.rightPart{
  width: 35%;
  display: flex;
  justify-content: center;
  align-self:center;
      @media (max-width: 1024px) {
      width: 100%;
    }

}