.container{
  display: flex;
  flex-direction: row;
  justify-content: center;
  row-gap: 1rem;
  position: relative;

  padding: 60px 20px 64px;
  background: url(/img/subbd/banner_cover.webp) no-repeat, url(/img/subbd/banner-bg.webp) no-repeat;
  background-size: 115%, 85%;
  background-position: -41% 10%, 118% 5%;
  max-width: 1376px;
  margin: 0 auto;
  @media (max-width: 1024px) {
      width: 100%;
      background: transparent;
      padding: 0px;
  }
}


.mainContent{
  padding-top:6rem;
  min-width: 1376px;
  width: 1376px;
  display: flex;

   @media (max-width: 1024px) {
      flex-direction: column-reverse;
      min-width: 0px;
      max-width: 100%;
      width: 100%;
      padding-top: 120px;
      padding-inline: 1rem;
  }
}

.leftPart{
  width: 65%;
  display: flex;
    @media (max-width: 1024px) {
      width: 100%;
    }
}

.rightPart{
  width: 35%;
  display: flex;
  justify-content: center;
  align-self:center;
      @media (max-width: 1024px) {
      width: 100%;
    }

}