/* Header Section */
.intro {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 100%;
    /* height: 100vh; */
    height: auto;
    padding: 0 0 40px;
    /* min-height: 890px; */
    overflow: hidden;
    min-height: 100vh;
    overflow: hidden;
    align-items: center;
    justify-content: flex-start;
    -webkit-text-size-adjust: 100%;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    background: #fff url('/img/btchyper/banner-bg.webp') no-repeat 100% 100% / 100%;
    background-size: 100% 45%;
  
}

/* .intro::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgb(0, 0, 0);
} */
.intro-main-content{
  flex: 1;
  display: flex;
  padding-top: 80px;
  flex-direction: column;
  row-gap: 2em;
  width: 1280px;
  padding-inline: 16px;

}

.intro-content {
  width: 100%;
  display: flex;
  flex: 1;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
  column-gap: 1em;

}  

.intro-content-left {
  position: relative;
  flex: 0 0 65%;
  /* 0 grow, 0 shrink, 60% basis */
}


/* Right Section */
.intro-content-right {
  flex: 0 0 35%;
  /* 0 grow, 0 shrink, 40% basis */
  position: relative;
  height: 100%;
  
}


.intro-text-container{
  width: 100%;
  position: relative;
  top: 30vh;
  z-index: 1;
}


.intro-banner{
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
}




@keyframes carousal-movement {
  0% {
      transform: translateX(-20%);
  }
  100% {
      transform: translateX(0%);
  }
}

.carousal-container{
  width: 100%;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  white-space: nowrap;
  background: white;
  border-bottom: solid 3px black;
  height: 36px;
}

.carousal-banner {
  display: flex;
  flex-direction: row;
  gap: 36px;
  align-items: center;
  animation: carousal-movement 6s linear infinite;
}

/* Duplicate content for seamless loop */
.carousal-banner::after {
  content: attr(data-duplicate);
  display: flex;
}

/* Pause animation when hovering */
.carousal-container:hover .carousal-banner {
  animation-play-state: paused;
}

.intro-carousal-text{
  width: max-content;
  color: white;
  font-size: x-large;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-text-stroke-color: rgb(0, 0, 0);
  -webkit-text-stroke-width: 1px;
  text-transform: uppercase;
  font-weight: 900;

}