/* Header Section */
.intro {
    position: relative;
    display: flex;
    width: 100%;
    /* height: 100vh; */
    height: auto;
    padding: var(--topnav-padding) 0 40px;
    /* min-height: 890px; */
    overflow: hidden;
    min-height: 800px;
    background-color: rgb(2, 2, 2) !important;
    background: url(/img/btcbull/banner-bg.png) no-repeat 0% 0% / 80%;
    position: relative;
    overflow: hidden;
    align-items: center;
    justify-content: center;
    -webkit-text-size-adjust: 100%;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  
}

/* .intro::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgb(0, 0, 0);
} */

.intro-content {
  max-width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
  max-width: 1250px;
  padding-inline: 16px;

}  

.intro-content-left {
  position: relative;
  flex: 0 0 65%;
  /* 0 grow, 0 shrink, 60% basis */
}


/* Right Section */
.intro-content-right {
  flex: 0 0 35%;
  /* 0 grow, 0 shrink, 40% basis */
  position: relative;
  height: 100%;
  
}


.intro-text-container{
  width: 100%;
  position: relative;
  top: 30vh;
  z-index: 1;
}

.intro-banner{
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
}

.intro-heading1{
  color: rgb(247, 239, 34);
  font-size: 52px;
  text-transform: uppercase;
  font-family: Diogenes, sans-serif;
  font-weight: 800;
  box-sizing: border-box;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-text-stroke-color :rgb(180, 81, 7);
  -webkit-text-stroke-width : 3px;
}

.intro-heading1 span{
  color: white;
}


.intro-heading2{
  color: white;
  font-size: 22px;
  font-family: Diogenes, sans-serif;
  font-weight: 800;
}

.intro-heading3{
  color: rgb(75, 26, 9);
  font-size: 24px;
  text-transform: uppercase;
  font-family: Diogenes, sans-serif;
  font-weight: 800;
}


.intro-desc{
  margin-bottom: 44px;
  line-height: 32px;
  font-size: 24px;
  color:rgb(75, 26, 9);
}

.intro-desc1{
  line-height: 24px;
  font-size: 18px;
  color:rgb(75, 26, 9);
}
.intro-list {
  list-style: none; /* Remove default bullets */
  padding: 0;
  margin: 0;
}

.intro-list-item {
  display: flex; /* Align icon and text in a row */
  align-items: center; /* Vertically align icon and text */
  gap: 6px; /* Adjust spacing between icon and text */
  font-size: 16px;
  color: black;
  line-height: 1.5; /* Improve readability */
  margin-bottom: 12px; /* Add spacing between rows */
}

.intro-item-icon {
  width: 18px; /* Adjust icon size */
  height: 18px;
  flex-shrink: 0; /* Prevent icon from shrinking */
}



.intro-decorate{
  display: flex;
  flex-direction: column;
  position: absolute;
  bottom: 2%;
  right: 5%;
  max-width: 20vw;
}

/* .intro-decorate-catalouge{
  color: rgb(75, 26, 9);
  background: url('/img/peap/chat-bubble.png');
  background-repeat: no-repeat;
  background-size: 100% 100%;
  height: 140px;
  font-weight: 600;
  padding: 16px;
  font-size: 18px;
} */
.intro-decorate-img{
  width: 100%;
}