/* Responsive Styles */
@media (max-width: 1024px) {
    .intro{
        min-height: auto;
        padding: 140px 0 180px;

    }

    .intro-content {
        max-width: 100%;
        display: flex;
        flex-direction: column-reverse;
        justify-content: center;
        align-items: center;
        row-gap: 24px;
        padding: 0px 8px;
    }  

    .intro-content-left {
        width: 100%;
    
        overflow: hidden;
        padding-bottom: 100px;
    }

    .intro-content-right {
      display: flex;
      flex: 1;
      width: 100%;
      padding: 0px 0px;
      justify-content: center;
      align-items: center;
      flex-direction: column;
  }
  .intro-text-container{
    max-width: 100%;
    top: 10vh;
  }



.intro-heading1{
  font-size: 32px;
}

.intro-heading2{
  font-size: 32px;
}


  .intro-list {
    max-width: 40%;
    list-style: none; /* Remove default bullets */
    padding: 0;
    margin: 0;
  }

  .intro-decorate{
    display: flex;
    flex-direction: column;
    position: absolute;
    bottom: 0px;
    right: 0px;
    max-width: 50vw;
    max-height: 40vh;
  }

  .intro-decorate-catalouge{
    color: rgb(75, 26, 9);
    background: url('/img/peap/chat-bubble.png');
    background-repeat: no-repeat;
    background-size: 100% 100%;
    height: 220px;
    font-weight: 600;
    padding: 8px;
    font-size: 12px;
  }
  
  .intro-decorate-img{
    width: 80%;
  }
}
