.wrapper {
    position: relative;
    border-radius: 20px;
    padding: 2rem;
    text-align: center;
    overflow: hidden;
  }
  

  
  .rightShoe {
    width: 160px;
    position: absolute;
    bottom: 25%;
    right: 0;
    transform: translate(-30%, 10%);

  }
  
  .content {
    max-width: 800px;
    margin: 0 auto;
    color: black;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
  
  .headline {
    font-size: 3.4rem;
    font-weight: 900;
    text-transform: uppercase;
    margin-bottom: 0.5rem;
    text-align: start;
  }
  
  .subheadline {
    font-size: 2.6rem;
    font-weight: 700;
    text-transform: uppercase;
    margin-bottom: 8px;
    margin-top: 0px;
    text-align: start;

  }
  
  .description {
    font-size: 1.8rem;
    color: #000;
    margin-bottom: 1rem;
    line-height: 1.6;
    text-align: start;

  }
  
  .tagline {
    font-size: 1.4rem;
    font-weight: bold;
    position: relative;
    display: inline-block;
    margin-bottom: 2rem;
    text-align: start;
  }
  
  .underline {
    display: block;
    height: 4px;
    background: orange;
    width: 60%;
    margin: 4px auto 0;
    border-radius: 2px;
  }
  
  .audit {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    margin-bottom: 2rem;
    flex-wrap: wrap;
  }
  
  .auditText {
    font-weight: 800;
    text-transform: uppercase;
    font-size: 1.4rem;
  }
  
  .bullets {
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 1rem;
    flex-wrap: wrap;
  }
  
  .bullet {
    flex: 1;
    background: orange;
    border: 3px solid black;
    border-radius: 999px;
    padding: 1.6rem 2.8rem;
    font-weight: bold;
    font-size: 2.4rem;
    text-transform: uppercase;
    box-shadow: 0 4px #999;
    position: relative;
  }
  
  .bullet::before {
    content: "";
    position: absolute;
    top: -1rem;
    right: -1rem;
    width: 3rem;
    height: 3rem;
    background: white;
    border: 3px solid black;
    border-radius: 50%;
  }
  