.header-logo-container{
    width: 550px;
    max-width: 550px;
}


.form-control-custom {
    width: 100%;
    background-color: rgb(77, 108, 195);
    border: 2px solid #000;
    border-radius: 20px;
    color: #fff;
    outline:none;
}

.form-control-custom::placeholder {
    color: white;
}

.connection-btn{
    border: solid 4px black;
    align-items: center;
    background-clip: border-box;
    background-color: rgb(80, 184, 97);
    background-image: none;
    background-origin: padding-box;
    box-sizing: border-box;
    color: rgb(255, 255, 255);
    cursor: pointer;
    display: flex;
    font-family: Sausages, sans-serif;
    font-feature-settings: normal;
    font-kerning: auto;
    font-optical-sizing: auto;
    font-size: 20px;
    font-size-adjust: none;
    font-stretch: 100%;
    font-style: normal;
    font-variant-alternates: normal;
    font-variant-caps: normal;
    font-variant-east-asian: normal;
    font-variant-ligatures: normal;
    font-variant-numeric: normal;
    font-variant-position: normal;
    font-variation-settings: normal;
    font-weight: 400;
    height: 60px;
    justify-content: center;
    letter-spacing: 0.5px;
    line-height: 21.4286px;
    margin-bottom: 0px;
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 0px;
    min-height: 45px;
    min-width: 100px;
    overflow-x: visible;
    overflow-y: visible;
    padding-block-end: 10px;
    padding-block-start: 10px;
    padding-bottom: 10px;
    padding-inline-end: 10px;
    padding-inline-start: 10px;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 10px;
    text-align: center;
    text-indent: 0px;
    text-rendering: auto;
    text-shadow: none;
    text-size-adjust: 100%;
    text-transform: none;
    width: 213.922px;
    word-spacing: 0px;
    -webkit-font-smoothing: antialiased;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    -webkit-border-image: none;
}

.hero-img{
    position: absolute !important;
    bottom: 20px !important; 
    right: -30px !important; 
      z-index: 1000;
}
.hero-img img{
    width: 400px;
    height: 500px;
}
.intro-content{
    position: relative;
     width: 100%;
      padding-left: 5%; 
      padding-top:5%;
      z-index: 1;
}
.intro-content p, 
.intro-content div {
  position: relative; /* Ensure z-index stacking works */
  z-index: 2; /* Higher z-index than ::after to keep it above */
}

.intro-content::after{
    content: "";
    position: absolute;
    top: 0; /* Position it just below the div content */
    left: 0;
    width: 100%;
    height: 700px; /* Adjust height as needed */

    background-attachment: scroll;
    background-clip: border-box;
    background-color: rgb(193, 218, 234);
    background-image: none;
    background-origin: padding-box;
    background-position-x: 0%;
    background-position-y: 0%;
    background-repeat: repeat;
    background-size: auto;
    bottom: 6px;
    box-sizing: border-box;
    clip-path: polygon(0px 0px, 100% 0%, 70% 100%, 0% 100%);
    color: rgb(0, 0, 0);
    content: "";
    display: block;
    font-family: HeyComic, sans-serif;
    font-size: 16px;
    font-weight: 400;
    height: 483.391px;
    left: 6px;
    line-height: 22.4px;
    position: absolute;
    right: 6px;
    text-align: start;
    text-size-adjust: 100%;
    top: 6px;
    width: 835.727px;
    z-index: 1;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}


.btn.btn-wallet.selected{
    color: #fff;
    background-color: orange;
    /* border-color: #ba8bf9; */
  }


/* Responsive Styles */
@media (max-width: 768px) {
    .header-logo-container{
        width: '100%';
        margin: '0px auto';
    }

    .walletBox {
      
        width: 100%;
        max-width: 100%;
     
    }

    .header-logo-container{
        width: 100%;
        max-width: 100%;
    }

    .hero-img img{
        width: 150px;
        height: 200px;
    }
}
