/* Navbar.css */

.appnav-navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* background-color: transparent; */
  /* padding: 3rem; */
  background-color: transparent;
  padding: 16px;
  
  position: relative;
  transition: top 0.3s ease; /* Add transition for smoother effect */
  /* box-shadow: 0 4px 8px #0000, 0 6px 20px #0000001f; */
  /* border-image-source: radial-gradient(121.49% 277.08% at 0% 0%, rgba(255, 255, 255, .44) 0%, rgba(255, 255, 255, .05) 100%); */
  /* -webkit-backdrop-filter: blur(21px); */
  /* backdrop-filter: blur(21px); */
  z-index: 99999999;
  background-attachment: scroll;
  background-clip: border-box;
  background-image: none;
  background-origin: padding-box;
  background-position-x: 0%;
  background-position-y: 0%;
  background-repeat: repeat;
  background-size: auto;
  box-sizing: border-box;
}

.appnav-navbar.sticky {
  box-sizing: border-box;
  position: fixed;
  top: 0;
  width: 100%;
  padding-right: 20px;
}


.appnav-navbar.scrolled {
  background-color: rgb(245, 136, 45);
  box-shadow: 0 4px 8px #0000, 0 6px 20px #0000001f;
  border-image-source: radial-gradient(121.49% 277.08% at 0% 0%, rgba(255, 255, 255, .44) 0%, rgba(255, 255, 255, .05) 100%);
  -webkit-backdrop-filter: blur(30px);
  backdrop-filter: blur(30px);

}

.nav-container{
  width: 100%;
  max-width: 1250px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-left: auto;
  margin-right: auto;

}

.appnav-navbar-brand {
  display: flex;
  align-items: center;
}

.appnav-logo {
  display: block;
  /* height: 54px; */
  max-width: 262px;
}

.appnav-navbar-brand a {
  color: #fff;
  text-decoration: none;
  font-size: 1.5rem;
}

.appnav-menu-toggle {
  display: none;
  background: none;
  border: none;
  cursor: pointer;
}

.appnav-hamburger {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 24px;
  height: 24px;
}

.appnav-hamburger span {
  display: block;
  width: 100%;
  height: 6px;
  background-color: orange;
  border: solid 1px black;
  transition: all 0.3s;
}

.appnav-hamburger.appnav-is-active span:nth-child(1) {
  transform: translateY(8px) rotate(45deg);
}

.appnav-hamburger.appnav-is-active span:nth-child(2) {
  opacity: 0;
}

.appnav-hamburger.appnav-is-active span:nth-child(3) {
  transform: translateY(-8px) rotate(-45deg);
}

.appnav-navbar-menu {
  display: flex;
  gap: 1rem;
}

.appnav-navbar-menu a {
  transform: scaleY(1.5);    /* Increase height by 1.5 times */
  color: #fff;
  cursor: pointer;
  text-decoration: none;
  font-weight: bold;
  font-size: 20px;
  text-transform: capitalize;
  margin: 0 7px;
  -webkit-text-stroke-color: black;
  -webkit-text-stroke-width: 1px;
}

.appnav-navbar-menu a:hover {
  color: rgb(85, 186, 102);
}

.appnav-navbar-menu-mobile{
  display: none;
}



.appnav-navbar-right {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.appnav-lang-login-container {
  display: flex;
  flex-direction: row; /* Stack items vertically */
  align-items: center;
}

.appnav-login {
  min-height: 46px;
  width: 130px;
  /* border-radius: 23px; */
  background: rgb(245, 136, 45);
  color: black;
  border: solid 3px black;
  padding: 0.5rem 1rem;
  cursor: pointer;
  font-weight: 900;
}

.appnav-social a {
  color: #fff;
  text-decoration: none;
  font-size: 1.2rem;
  margin: 0 0.5rem;
}

.appnav-language {
  background: #444;
  color: #fff;
  border: none;
  padding: 0.3rem;
}

.appnav-dropdown {
  position: relative;
}

.appnav-dropdown-toggle {
  background: none;
  border: none;
  padding: 0;
  padding: 10px 5px;
  color: #fff;
  cursor: pointer;
  text-decoration: none;
  font-weight: 400;
  font-size: 24px;
  text-transform: capitalize;
  margin: 0 7px;
}

.appnav-dropdown-menu {
  width: 300px;
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  background-color: #333;
  padding: 1rem;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  z-index: 1;
  flex-direction: column;
  gap: 0.5rem;
  z-index: 20000000;
}

.appnav-dropdown-menu a {
  color: #fff;
  text-decoration: none;
}

.appnav-dropdown-menu a:hover {
  color:rgb(186, 139, 249);
}

.appnav-dropdown-menu.appnav-is-active {
  display: flex;
}

/* Language selection */
.appnav-lang-dropdown {
  position: relative;
  margin-left: 24px;

}

.appnav-lang-custom-dropdown {
  display: flex;
  align-items: center;
  cursor: pointer;
  color: #fff;
}

.appnav-lang-custom-dropdown span {
  margin-right: 5px;
  color: #fff;
}

.lang-dropdown-content {
  color:#fff;
  display: none;
  position: absolute;
  top: calc(100% + 10px); /* Adjusted position with 10px padding */
  left: -80px;
  background-color: #000000;
  border: 1px solid #000;
  box-shadow: 0 4px 8px rgba(6, 6, 80, 0.1);
  padding: 20px 10px; /* Added padding */
  z-index: 1000;
  width: max-content; 
  height: 220px;
  max-height: 220px;
  overflow-y: auto;
}

.lang-dropdown-content a {
  color : white;
}


.lang-dropdown-content.open {
  display: block;
}

.lang-dropdown-item {
  display: flex;
  align-items: center;
  padding: 5px;
  cursor: pointer;
}

.lang-dropdown-item:hover {
  background-color: #000;
  color : white;
}

.lang-dropdown-item span {
  margin-right: 5px;
}


.lang-dropdown-icon{
  color: #000 
}

/* Responsive Styles */
@media (max-width: 1024px) {
  .appnav-navbar{
    width: 100%;
  }
  .nav-container{
    width: 100%;
    max-width: 100%;
  }

  .appnav-navbar-brand {
    display: flex;
    justify-content: space-between;
    width: 100%;
  }



  .appnav-logo {
    order: 1; /* Logo on the left */
  }

  .appnav-navbar{
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    padding: 20;
    box-sizing: border-box;
    /* background-color: rgba(0, 0, 0, .4); */
    /* box-shadow: 0 4px 8px #0000, 0 6px 20px #0000001f; */
    /* border-image-source: radial-gradient(121.49% 277.08% at 0% 0%, rgba(255, 255, 255, .44) 0%, rgba(255, 255, 255, .05) 100%); */
    /* -webkit-backdrop-filter: blur(30px); */
    /* backdrop-filter: blur(30px); */
  
    /* justify-content: flex-start; */
  }

  .appnav-menu-toggle {
    display: block;
    order: 2; /* Hamburger on the right */
    margin-left: auto;
  }

  .appnav-lang-login-container {
    width: 100%;
    flex-direction: column-reverse; /* Stack items in reverse order */
    align-items: flex-start; /* Align items to the start */
    justify-content: stretch;
  }
  

  .appnav-login {
    width: 100%;
  }

  .appnav-lang-dropdown {
    box-sizing: border-box;
    width: 100%;
    justify-content: center;
    display: flex;
    border: solid 1px #fff;
    height: 40px;
    border-radius: 20px;
    margin-bottom: 10px; 
    margin-top: 10px;
    margin-left: 0px;
    border-radius: 20px;
    border: solid 1px black;
  }
  
  .lang-dropdown-content {
    color:#fff;
    display: none;
    position: absolute;
    top: calc(100% + 10px); /* Adjusted position with 10px padding */
    left: 100px;
    background-color: #000;
    border: 1px solid #000;
    box-shadow: 0 4px 8px rgba(6, 6, 80, 0.1);
    padding: 20px 10px; /* Added padding */
    z-index: 1000;
    width: max-content; 
    height: 220px;
    max-height: 220px;
    overflow-y: auto;
  }
  .appnav-navbar-menu,
  .appnav-navbar-right 
  {
    display: none;
  }

  .appnav-navbar-menu-mobile{
    box-sizing: border-box;
    display: none;
    flex-direction: column;
    row-gap: 8px;
    position: absolute;
    top: 100%; /* Position below navbar */
    left: 0;
    width: 100%;
    background-color: rgb(245, 136, 45); /* Adjust background as needed */
    z-index: 999;
    padding: 0px 16px;
    color: white;
  }

  .appnav-navbar-menu-mobile.appnav-is-active {
    display: flex;
  }

  .appnav-navbar-menu-mobile a {
      font-size: 24px;
      text-decoration: none;
      color: white;
      font-weight: 700;
      padding: 10px 0px;
      border-bottom: solid 1px white;
      transform: scaleY(1.3);
  }

  .appnav-navbar-menu-mobile .social-icon{
    display: inline-block; /* Ensures padding is applied correctly */
    padding: 8px;
  }


  .appnav-login{
    margin: 16px 0px;
    color: white;
    border-color: white;
  }

  
}