/* Navbar.css */

.appnav-navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: transparent;
  
  position: relative;
  transition: top 0.3s ease; /* Add transition for smoother effect */
  z-index: 99999999;
  box-sizing: border-box;
  padding-block: 8px;
}

.appnav-navbar.sticky {
  box-sizing: border-box;
  position: fixed;
  top: 36px;
  width: 100%;
}


.appnav-navbar.scrolled {
    backdrop-filter: blur(30px);
    background: #fff;
    box-shadow: 0 4px 8px #0000, 0 6px 20px #0000001f;
    top: 0px;

}

.nav-container{
  padding: 0px 12px;
  background: transparent;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-left: auto;
  margin-right: auto;
  max-width: 1280px;
}

.appnav-navbar-brand {
  display: flex;
  align-items: center;
}

.buy-btn-mobile{
  display: none;
}

.appnav-logo {
  display: block;
  height: 52px;
  max-width: 262px;
}

.appnav-navbar-brand a {
  color: #fff;
  text-decoration: none;
  font-size: 1.5rem;
}

.appnav-menu-toggle {
  display: none;
  background: none;
  border: none;
  cursor: pointer;
}


.appnav-navbar-menu {
  display: flex;
  column-gap: 20px;
}

.appnav-navbar-menu a {
  color: black;
  cursor: pointer;
  text-decoration: none;
  font-weight: bold;
  font-size: 12px;
  text-transform: capitalize;
  text-align: center;
}

.appnav-navbar-menu a:hover {
  color: #ffc700;
}

.appnav-navbar-menu-mobile{
  display: none;
}



.appnav-navbar-right {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.appnav-lang-login-container {
  display: flex;
  flex-direction: row; /* Stack items vertically */
  align-items: center;
  column-gap: 8px;
}

.appnav-login {
  padding: 0px;
  border-radius: 8px;
  cursor: pointer;
  font-weight: 900;
  text-decoration: none;
  color: black;
  min-width: 140px;
  border: none;
  min-height: 42px;
  background: #ffa231;

}

.appnav-whitepaper {
  padding: 0px;
  border-radius: 4px;
  cursor: pointer;
  font-weight: 900;
  text-decoration: none;
  color: rgb(255, 199, 0);
  min-width: 140px;
  border: none;
  min-height: 42px;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* .appnav-login:hover{
  background: linear-gradient(rgb(114, 58, 24), #03cdeff0);
} */

.appnav-social-icon {
  width: 28px;
  height: 28px;
}

.appnav-language {
  background: #444;
  color: #fff;
  border: none;
  padding: 0.3rem;
}

.appnav-dropdown {
  position: relative;
}

.appnav-dropdown-toggle {
  background: none;
  border: none;
  padding: 0;
  padding: 10px 5px;
  color: #fff;
  cursor: pointer;
  text-decoration: none;
  font-weight: 400;
  font-size: 24px;
  text-transform: capitalize;
  margin: 0 7px;
}

.appnav-dropdown-menu {
  width: 300px;
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  background-color: #333;
  padding: 1rem;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  z-index: 1;
  flex-direction: column;
  gap: 0.5rem;
  z-index: 20000000;
}

.appnav-dropdown-menu a {
  color: #fff;
  text-decoration: none;
}

.appnav-dropdown-menu a:hover {
  color:rgb(186, 139, 249);
}

.appnav-dropdown-menu.appnav-is-active {
  display: flex;
}

/* Language selection */
.appnav-lang-dropdown {
  position: relative;
  /* margin-left: 24px; */

}

.appnav-lang-custom-dropdown {
  display: flex;
  align-items: center;
  cursor: pointer;
  justify-content: center;
  padding: 4px 8px;
  background: none;
  width: 64px;
}

.appnav-lang-custom-dropdown span {
  margin-right: 5px;
  color: black;
}

.lang-dropdown-content {
  color:white;
  display: none;
  position: absolute;
  top: calc(100% + 10px); /* Adjusted position with 10px padding */
  left: -80px;
  background-color: rgb(33, 37, 41);
  border: 1px solid #000;
  box-shadow: 0 4px 8px rgba(6, 6, 80, 0.1);
  padding: 20px 10px; /* Added padding */
  z-index: 1000;
  width: max-content; 
  height: 220px;
  max-height: 220px;
  overflow-y: auto;
}

.lang-dropdown-content a {
  color : white;
}


.lang-dropdown-content.open {
  display: block;
}

.lang-dropdown-item {
  display: flex;
  align-items: center;
  padding: 5px;
  cursor: pointer;
  color: white;
}

.lang-dropdown-item:hover {
  background: #eee;
  color: #000;
}

.lang-dropdown-item span {
  margin-right: 5px;
}

.lang-dropdown-flag{
  border-radius: 50%;
  border: 2px solid #FFFFFF;
  margin-right: 10px;
  min-width: 25px;
  height: 25px;
  width: 25px;
  overflow: hidden;
  object-fit: cover;
}


.lang-dropdown-icon{
  color: #000 ;
}
