@media (max-width: 1024px) {
    .roadmap-container{
        padding-inline: 8px;
    }
    .roadmap-content{
        padding-inline: 0px;
    }
    .roadmap-desc-container{
        padding: 16px;
    }
    .roadmap-desc-title{
        font-size: 3rem;
    }

    .roadmap-row{
        flex-direction: column;
        row-gap: 48px;
    }

    .roadmap-chart-container, .roadmap-chart-content{
        min-height: 400px;

    }

    .roadmap-chart-content{
        max-width: 85%;
    }
    .roadmap-chart-numbers{
        top: 0px;
    }

    .roadmap-decorate1{
        width: 100%;
        position: absolute;
        top: -5%;
    }
}