@media (max-width: 1024px) {
    .faq-container{
        padding-inline: 8px;
    }
    .faq-content{
        width: 100%;
        max-width: 100%;
        padding-inline: 0px;
    }
    .faq-list{
        width: 100%;
    }
}
