@media (max-width: 1024px) {
    .faq-container{
        flex-direction: column-reverse;
        overflow: hidden;
    }
    .faq-heading{
        width: max-content;
        margin: 0;
        line-height: normal;
        font-size: 24px;
        background: #c1daea;
        border: 4px solid #000000;
        color: #f0b90b;
        -webkit-text-stroke: 8px black;
        font-weight: 500;
        padding: 5px 12px;
        transform: rotate(-3deg);
        font-family: badaboom-bb, sans-serif;
        paint-order: stroke fill;
        margin-block-start: 0.83em;
        margin-block-end: 0.83em;
        margin-inline-start: 0px;
        margin-inline-end: 0px;
        text-wrap: wrap;
    }
    .faq-title{
        margin-bottom: 12px;
    }
    .faq-card-1{
        width: 100%;
        /* height: 322px; */
        padding: 12px;
        background: none;
        background-size: 100% 100%;
        background-color: aquamarine;
        height: auto;
    }
    
    .faq-card-2{
        width: 100%;
        /* height: 322px; */
        padding: 12px;
        background: none;
        background-size: 100% 100%;
        background-color: antiquewhite;
        height: auto;
    }
    
    .faq-card-3{
        width: 100%;
        /* height: 322px; */
        padding: 12px;
        background: none;
        background-size: 100% 100%;
        background-color: rosybrown;
        height: auto;    }
    
    .faq-card-4{
        width: 100%;
        /* height: 322px; */
        padding: 12px;
        background: none;
        background-size: 100% 100%;
        background-color: thistle;
        height: auto;
    }


    .faq-buynow{
        width: 100%;
        padding: 16px 32px;
        background-color: #f5882d;
        border: 4px solid #000000;
        color: #fff;
        font-weight: 500;
        -webkit-text-stroke: 3px black;
        paint-order: stroke;
        letter-spacing: 2px;
        font-size: 22px;
        border-bottom-left-radius: 16px;
        border-top-right-radius: 16px;
        text-transform: uppercase;
        transform: rotate(6deg);
        }
}
