.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    background: linear-gradient(to bottom, rgba(26, 26, 26, 0) 0%, rgba(0, 0, 0, 0.6) 20%, rgba(0, 0, 0, 0.6) 80%, rgba(0, 0, 0, 0) 100%);

    @media (max-width: 1024px) {
        overflow: hidden;
    }
  }

  .mainContent{
    flex: 1 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    row-gap: 2em;
    width: 100%;
    min-width: 1280px;
    width: 1280px;
    padding-block: 10rem;

    @media (max-width: 1024px) {
        overflow: hidden;
        min-width: 0px;
        width: 100%;
        padding-inline: 1rem;
    }

  }


  .title {
    font-size: 6rem;
    font-weight: bold;
    text-align: start;
      background-size: 300% 300%; /* makes animation visible */
    background-position: 0% 50%;
    background-clip: text;
    color: white;
    background-origin : padding-box;
      background-clip: text;

    @media (max-width: 1024px) {
        font-size: 3rem;
        text-align: center;
    }

  }

  .desc{
    font-size: large;
    color: white;

    @media (max-width: 1024px) {
        text-align: center;
    }

  }


  .cardList{
    display: flex;
    flex-direction: column;
    width: 80%;
    row-gap: 2rem;

    @media (max-width: 1024px) {
        width: 100%;
    }

  }


  .card{
    position: relative;
    padding: 1rem;
    filter: drop-shadow(0px 0px 80px rgba(223, 253, 111, .05));
    -webkit-backdrop-filter: blur(8px);
    backdrop-filter: blur(8px);
    scroll-snap-align: start;
    transform-origin: center;
    transform: scale(1);
    transition: transform .5s;
    
    @media (max-width: 1024px) {
      width: 100%;
    }
  }



  .card::before{    
    content: "";
    position: absolute;
    inset: -1px;
    background: #393939;
    clip-path: polygon(0 0, calc(100% - 15px) 0, 100% 15px, 100% 100%, 15px 100%, 0 calc(100% - 15px), 0 0, 1px 1px, 1px calc(100% - 16px), 15px calc(100% - 1px), calc(100% - 1px) calc(100% - 1px), calc(100% - 1px) 15px, calc(100% - 15px) 1px, 1px 1px);
  }


  .cardTop{
    padding: 1rem;
  }
  .cardBottom{
    padding: 1rem 3rem 2rem 3rem;
  }

  .cardImgWrapper{
      margin-inline: auto;
      height: 64px;
      width: 64px;
      display: flex;
      justify-content: center;
      align-items: center;
      border-radius: 50%;
      overflow: hidden;
  }
  .cardImg{
      width: 64px;
      height: 64px;
  }

  .cardTitle{
    text-align: center;
    color: #fff;
    text-transform: capitalize;
    font-size: x-large;
  }

  .cardContent{
    text-align: center;
    color: rgb(148, 163, 184);
  }

  .buyNowContainer {
    display: flex;
    width: 100%;
    gap: 2rem;
    margin-bottom: 1rem;
    justify-content: center;
    align-items: stretch;
    flex-wrap: nowrap;
  }
  

    /* Mobile/tablet animation */
  @keyframes resizeBoxMobile {
    0% {
      width: 75%;
      transform: scaleY(1);
    }
    50% {
      width: 100%;
    }
    100% {
      width: 75%;
      transform: scaleY(1);
    }
  }

  @keyframes resizeBox {
    0% {
      width: 35%;
      transform: scaleY(1);
    }
    50% {
      width: 50%;
      transform: scaleY(1.15);
    }
    100% {
      width: 35%;
      transform: scaleY(0.85); /* scaled down below original */
    }
  }




  .buynow{
    width: 60%;
    background: rgb(152, 255, 25);
    transition: all .4s ease-out;
    clip-path: polygon(100% 15px, 100% 100%, 15px 100%, 0% calc(100% - 15px), 0% 0%, calc(100% - 15px) 0%);
    display: flex;
    font-weight: 900;
    flex-direction: column;
    justify-content: space-evenly;  
    padding: 1rem; 
    text-transform: uppercase;
    animation: resizeBox 4s infinite;

    @media (max-width: 1024px) {
      animation: resizeBoxMobile 2s infinite;
    }
  }

