#wrapper {
    width: 1040px;
    max-width: 100%;
    margin: 0 auto;
}

.page-footer {
    margin-top: 140px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.page-footer .logo {
    flex-grow: 0;
    flex-shrink: 0;
    flex-basis: calc(100% - 670px);
    max-width: calc(100% - 670px);
}

.page-footer .content {
    flex: 0 0 670px;
    max-width: 670px;
}

.page-footer .content ul.social {
    margin-bottom: 25px;
}

.page-footer .content ul {
    padding: 0;
    margin: 0;
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.page-footer .content ul.social li {
    margin-right: 15px;
}

.page-footer .content ul.nav li {
    margin-right: 20px;
}

.page-footer .content ul.nav li a {
    padding-bottom: 2px;
    color: #202125;
    font-size: 16px;
    font-weight: 600;
    border-bottom: 2px solid #202125;
    text-decoration: none;
    transition: all .3s linear;
    text-transform: lowercase;
}

.page-footer .content p {
    margin-top: 25px;
    color: #848587;
    font-size: 12px;
    line-height: 18px;
}

.page-footer .content p {
    margin: 0;
}

.page-footer .content ul.nav.mini li a {
    font-size: 12px;
}


.page-footer .content ul.nav li a:hover {
    color: #f9be64;
    background-color: transparent;
}