.roadmap-container {
    position: relative;
    margin-top: 150px;
    margin-bottom: 150px;
}

.roadmap-container .roadmap {
    margin-top: 60px;
    background-color: #202125;
}

.roadmap-container .roadmap-path01 {
    position: absolute;
    right: 0;
    top: -100px;
}

.roadmap-container .roadmap-path02 {
    position: absolute;
    left: 0;
    bottom: -100px;
}

.roadmap-container .roadmap-path03 {
    position: absolute;
    left: 5%;
    top: -70px;
}

.roadmap-container .roadmap .hero {
    margin-bottom: 50px;
    color: #fff;
    font-size: 50px;
    line-height: 60px;
    text-align: center;
    font-family: Titan One, sans-serif;
}

.slick-list, .slick-slider {
    position: relative;
    display: block;
}

.slick-slider .slick-list, .slick-slider .slick-track {
    transform: translateZ(0);
}

.slick-list {
    overflow: hidden;
    margin: 0;
    padding: 0;
}

.slick-list, .slick-slider {
    position: relative;
    display: block;
}

.slick-track {
    position: relative;
    top: 0;
    left: 0;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.slick-initialized .slick-slide {
    display: block;
}

.slick-slide {
    display: none;
    float: left;
    height: 100%;
    min-height: 1px;
}

.roadmap-container .roadmap .item-wrapper {
    padding: 0 15px;
    width: 100%;
    display: inline-block;
}

.roadmap-container .roadmap .item {
    color: #fff;
}

.roadmap-container .roadmap .item .label {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    color: #f9be64;
    font-size: 36px;
    font-family: Titan One, sans-serif;
}

.roadmap-container .roadmap .item .subhead {
    font-size: 20px;
    font-family: Titan One, sans-serif;
    margin-top: 5px;
    margin-bottom: 7px;
}

.roadmap-container .roadmap .item ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.roadmap-container .roadmap .item li.icon {
    position: relative;
    padding-left: 30px;
}

.roadmap-container .roadmap .item li {
    font-size: 16px;
    font-weight: 600;
    margin-top: 14px;
    line-height: 24px;
}

.roadmap-container .roadmap .item li img {
    position: absolute;
    left: 0;
    top: 50%;
    width: 25px;
    height: 25px;
    transform: translateY(-50%);
}

.slick-slide img {
    display: block;
}

.roadmap-container .roadmap .item li {
    font-size: 16px;
    font-weight: 600;
    margin-top: 14px;
    line-height: 24px;
}

.roadmap-container .roadmap .item .label img {
    width: 30px;
    height: 30px;
    margin-left: 5px;
}

.slick-list {
    overflow: hidden;
    margin: 0;
    padding: 0;
}
