@media (max-width: 1024px) {
    .about-content{
        display: flex;
        flex-direction: column;
        width: 100%;
        position: relative;
        z-index: 1;
        max-width: 100%;
        padding: 0px 8px;
        row-gap: 24px;
    }

    .about-features-container{
        display: flex;
        flex-wrap: wrap;
        position: relative;
        column-gap: 24px;
        row-gap: 16px;
        position: relative;
    }
    .about-features-img{
        width: 120px;
    }

    .about-features-text{
        position: absolute;
        top: -130px;
    }

    .about-desc-container{
        border-radius: 50px;
        border: solid 3px rgb(255, 199, 0);
        padding: 24px;
        background: #050d13d9;
        position: relative;
    }
    .about-desc-title{
        width: 100%;
        font-size: 3rem;
    }
    .about-desc-content{
        width: 65%;
        color: white;
        font-size: 1.3em;
    }
    
    .about-desc-img{
        position: absolute;
        width: 60%;
        top: 20%;
        right: -10%;
    }

    .about-buttons{
        display: flex;
        width: 100%;
        justify-content: center;
        align-items: center;
    }

    .about-cards{
        flex-direction: column;
        row-gap: 16px;
    }


    .about-card-item{
        max-width: 100%;
    }

    
}