.about-container{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 120px 0px;
    background: url('/img/btcbull/main-bg.webp');
    background-position: 0 0 ;
    background-size: 100% 100%;
    position:relative;
    overflow: hidden;
}

.about-content{
    display: flex;
    flex-direction: column;
    width: 100%;
    position: relative;
    z-index: 1;
    max-width: 1250px;
    padding: 0px 16px;
    row-gap: 24px;
}

.about-features-container{
    display: flex;
    justify-content: space-evenly;
}
.about-features-img{
    max-width: 190px;
}

.about-features-text{
    position: relative;
    background: url('/img/btcbull/featured-bg.svg');
    background-position: 0 0 ;
    background-size: 100% 100%;
    width: 180px;
    height: 180px;
    display: flex;
    justify-content: center;
    align-items: center;

}

.about-features-text h2{
    color: black;
    background-color: white;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    -webkit-text-stroke-color: rgba(0, 0, 0, 0);
    -webkit-text-stroke-width: 12px;
    -webkit-text-size-adjust: 100%;
    background-clip: text;
    text-transform: uppercase;
    text-align: center;
    transform: rotate(-7deg);
}


.about-desc-container{
    border-radius: 52px;
    border: solid 7px rgb(255, 199, 0);
    padding: 60px 50px;
    background: #050d13d9;
}

.about-desc-title{
    position: relative;
    width: 70%;
    color: rgb(255, 199, 0);
    font-weight: 700;
    font-size: 42px;
    text-transform: uppercase;
}

.about-desc-content{
    width: 65%;
    color: white;
    font-size: 1.3em;
}

.about-desc-img{
    position: absolute;
    width: 60%;
    top: 5vh;
    right: -15vw;
}

.about-buynow{
    background: #1f1f1f;
    border: 3px solid #FFC700;
    border-radius: 30px;
    padding: 8px 24px;
    font-size: 1.3em;
    color: white;
}

.about-cards{
    display: flex;
    flex-direction: row;
    justify-content: space-between


}


.about-card-item{
    padding: 16px;
    max-width: 30%;
    border: 7px solid #FFC700;
    background: rgba(0, 0, 0, 0.85);
    border-radius: 50px;
    min-height: 280px;
}

.about-card-title{
    font-weight: 700;
    color: rgb(255, 199, 0);
    font-size: 1.5em;
    text-transform: uppercase;
    text-align: center;
}

.about-card-desc{
    color: white;
    font-size: 1.2em;
    text-align: center;

}

.about-decorate1{
    position: absolute;
    top: -10vh;
    width: 100%;
}
