@media (max-width: 1024px) {
    .about-content{
        flex-direction: column;
    }

    .about-welcome{
        width: 200px;
        top: -2%;
        left: 10%;
    }
    .about-bg-inner{
        clip-path: none;
    }

    .about-zap{
        width: 160px;
        position: absolute;
        top: 10%;
        right: 0;
    }
    .about-king{
        width: 100%;
    }
}