/* BitcoinLayer2.module.css */

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
    width: 100%;
    @media (max-width: 1024px) {
      overflow: hidden;
    }
  }

  .mainContent{
    flex: 1 1;
    display: flex;
    flex-direction: column;
    row-gap: 2em;
    width: 100%;
    background: url(/img/token6900/about-bg.webp);
    background-size: cover;
  }
  
  .title {
    font-size: 4rem;
    font-weight: bold;
    text-align: start;
    color: white;
  }

  .flexRow {
    display: flex;
    width: 100%;
    gap: 1rem;
    margin-bottom: 1rem;
    flex-wrap: nowrap;
    @media (max-width: 1024px) {
        flex-direction: column ;
    }
  }
  
  .mainText{
    padding: 1rem;
  }
  
  .flex3 {
    flex: 3;
    display: flex;
      @media (max-width: 1024px) {
        position: relative;

      }

  }
  

  .mobShirt{
    display: none;
    @media (max-width: 1024px) {
        display: block;
        width: 200px;
        position: absolute;
        top: 20%;
        left: -20%;
    } 

  }

  .mobWhiteShirt{
    display: none;
    @media (max-width: 1024px) {
        display: block;
        width: 200px;
        position: absolute;
        top: 20%;
        right: -20%;
    } 

  }


