/* BitcoinLayer2.module.css */

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    background: linear-gradient(to bottom,
      rgba(26, 26, 26, 0.1) 0%,
      rgba(0, 0, 0, 0.6) 30%,
      rgba(0, 0, 0, 0.6) 70%,
      rgba(0, 0, 0, 0) 100%);
    @media (max-width: 1024px) {
        overflow: hidden;
    }
  }

  .mainContent{
    flex: 1 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    row-gap: 2em;
    width: 100%;
    min-width: 1280px;
    width: 1280px;
    padding-block: 10rem;

    @media (max-width: 1024px) {
        overflow: hidden;
        min-width: 0px;
        width: 100%;
        padding-inline: 1rem;
    }

  }
  
  @keyframes gradientMove {
    0% {
      background-position: 0% 50%;
    }
    100% {
      background-position: 100% 50%;
    }
  }


  .title {
    font-size: 6rem;
    font-weight: bold;
    text-align: start;
    background-color: rgba(0, 0, 0, 0);
    background-image: linear-gradient(-45deg, white, #fe3642,#e11f28);
      background-size: 300% 300%; /* makes animation visible */
    background-position: 0% 50%;
    background-clip: text;
    text-transform: uppercase;
    background-origin : padding-box;
      background-clip: text;
    -webkit-background-clip: text; /* for Safari */
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke: 1px transparent; /* Adjust thickness and color as needed */
      animation: gradientMove 5s linear infinite;

    @media (max-width: 1024px) {
        font-size: 3rem;
        text-align: center;
    }

  }

  .desc{
    font-size: large;
    color: white;
    text-align: center;
    @media (max-width: 1024px) {
        text-align: center;
    }

  }

  .listContainer{
    width: 100%;
    overflow-y: auto;
  }

  .cardList{
    width: max-content;
    display: flex;
    gap: 2rem;

    @media (max-width: 1024px) {

    }

  }

  .card{
    position: relative;
    border-radius: 20px;
    overflow: hidden;
    @media (max-width: 1024px) {
      /* width: 80%; */
    }
  }

 

  
  .cardImg{
      width: 320px;
      @media (max-width: 1024px) {
        
        width: 320px;

      }
  }


  .buynow{
    width: 320px;
    background: linear-gradient(90deg,#fe3642,#e11f28);
    color: white;
    display: flex;
    font-weight: 900;
    font-size: larger;
    flex-direction: column;
    justify-content: space-evenly;  
    padding: 2rem 2rem; 
    text-transform: uppercase;
    animation: resizeBox 4s infinite;
    border: none;
    border-radius: 30px;

    @media (max-width: 1024px) {
      animation: resizeBoxMobile 2s infinite;
    }
  }