@media screen and (max-width: 400px) {
  #whitepaper {
    padding: 20px;
    width: 100%;
  }
  #about,
  #services,
  #tokenomics,
  #team,
  #contact,
  #footer {
    width: 100%;
  }

  #roadmap {
    width: 100%;
  }
}
