body {
  margin: 0;
  font-family: Sausages,sans-serif !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

#container {
  background : url(/public/img/wienerdog/main-bg.png) no-repeat 0 0/cover
}
