/* Responsive Styles */
@media (max-width: 1024px) {


    .staking-desc{
        color: rgb(255, 255, 255);
        font-size: 18px;
        max-width: 100%;
    }

    .staking-card-list{
        grid-template-columns: repeat(3, 1fr);
    }
}



@media (max-width: 440px) {
    .staking-card-list{
        grid-template-columns: repeat(1, 1fr);
    }
}