/* Responsive Styles */
@media (max-width: 1024px) {
    .staking-heading{
        font-size: 3em;
    }

    .staking-chart-logo-container{
        display: none;
    }
    .staking-desc{
        color: rgb(255, 255, 255);
        font-size: 18px;
        max-width: 100%;
    }

    .staking-card-list{
        grid-template-columns: repeat(3, 1fr);
    }

    .staking-chart-total{
        font-size: large;
    }
}



@media (max-width: 440px) {
    .staking-card-list{
        grid-template-columns: repeat(1, 1fr);
    }
}