
.staking-container {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    /* height: 100vh; */
    height: auto;
    padding: var(--topnav-padding) 0 0px;
    /* min-height: 890px; */
    overflow: hidden;
    min-height: 800px;
    background-color: rgb(2, 2, 2) !important;
    background: 
        url(/img/btcbull/faq-bg.png) no-repeat 0% 0% / 100% 100%, 
        url(/img/btcbull/banner-bg.png) no-repeat 0% 0% / 80%;
    position: relative;
    overflow: hidden;
    align-items: center;
    justify-content: center;
    -webkit-text-size-adjust: 100%;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  
}

.staking-content{
    max-width: 1250px;
    padding-inline: 16px;
    position: relative;
    display: table;
    width: 100%;
    /* height: 100vh; */
    height: auto;

}

.staking-heading{
        font-size: 54px;
        font-weight: 800;
        margin: 0px;
        padding: 0px;
        color: white;
        text-transform: uppercase;
}

.staking-desc{
    color: white;
    font-size: 18px;
    max-width: 40%;
}

.staking-card-list{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 16px;
    margin-bottom: 24px;
}

.staking-card{
    border: 3px solid rgb(255, 199, 0);
    border-radius: 20px;
    width: 100%;
    display: flex;
    flex-direction: column;
    min-height: 240px;
    justify-content: space-between;
    padding: 16px;
    background: #000000a8;    ;
}
.staking-card-top{
    display: flex;
    flex-direction: column;
    color: white;
    font-size: medium;
    text-transform: uppercase;
    font-weight: 600;
    row-gap: 8px;
}

.staking-connect-btn{
    min-height: 46px;
    width: 100%;
    color: white;
    padding: 0.5rem 1rem;
    cursor: pointer;
    font-size: larger;
    font-weight: 900;
    padding: 9px 0;
    min-width: 140px;
    border-radius: 80px;
    border: 3px solid #ffc700;
    background: #1f1f1f;
}

.staking-chart-container{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.staking-chart-logo-container{
    display: flex;
    flex: 2;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.staking-chart-logo{
    width: 80%;
}


.staking-chart{
    flex: 7;
    width: 100%;
    border: none;
    padding:20px;
    position: relative;
    border-radius: 20px;
    border: 3px solid #ffc700 !important;
    background: rgba(0, 0, 0, 0.66);
}

.staking-chart-total{
    position: absolute; 
    top: 10px;
    left: 3%;
    font-weight: bold; 
    font-size: x-large;
    color: white;
}